NODE_ENV=development
PORT=3011
DEPLOY_USER=ubuntu
DEPLOY_HOST=
DEPLOY_SSH_KEY=
GOOGLE_APPLICATION_CREDENTIALS=
GOOGLE_DRIVE_REPORTS_FOLDER=

RAZZLE_ROOT_URL=http://localhost:3011
RAZZLE_ROOT_PATH=/absolute/path/to/project
RAZZLE_LOGS_PATH=/absolute/path/to/logs
RAZZLE_TMP_PATH=/absolute/path/to/tmp

RAZZLE_LEGACY_USER=
RAZZLE_LEGACY_PASSWORD=
RAZZLE_LEGACY_HOST=
RAZZLE_LEGACY_SSH_KEY=

RAZZLE_EMAIL_HOST=
RAZZLE_EMAIL_USER=
RAZZLE_EMAIL_PASS=
RAZZLE_EMAIL_PORT=
RAZZLE_EMAIL_FROM_NAME=Dashboard Notifications
RAZZLE_EMAIL_FROM_ADDRESS=
RAZZLE_REPORT_SCRIPT_EMAIL_RECEPIENTS=

RAZZLE_PG_HOST=127.0.0.1
RAZZLE_PG_PORT=5445
RAZZLE_PG_DB=postgres
RAZZLE_PG_USER=postgres
RAZZLE_PG_PASSWORD=mysecretpassword

RAZZLE_SESSION_TABLE=session
RAZZLE_COOKIE_SECRET=
RAZZLE_SESSION_KEY=session
RAZZLE_COOKIE_DAYS_TOEXPIRE=90

RAZZLE_PARTNER_FETCH_TIMEOUT_SECONDS=300

RAZZLE_CREDENTIALS_STREAMRAIL_USERNAME=
RAZZLE_CREDENTIALS_STREAMRAIL_PASSWORD=

RAZZLE_CREDENTIALS_LKQD_APIKEY=
RAZZLE_CREDENTIALS_LKQD_APISECRET=

RAZZLE_CREDENTIALS_ANIVIEW_USERNAME=
RAZZLE_CREDENTIALS_ANIVIEW_PASSWORD=
RAZZLE_CREDENTIALS_ANIVIEW_REPORTID=

RAZZLE_CREDENTIALS_TELARIA_USERNAME=
RAZZLE_CREDENTIALS_TELARIA_PASSWORD=
RAZZLE_CREDENTIALS_TELARIA_TIMEOUT=60

RAZZLE_CREDENTIALS_FREEWHEEL_USERNAME=
RAZZLE_CREDENTIALS_FREEWHEEL_PASSWORD=

RAZZLE_CREDENTIALS_AERSERV_USERNAME=
RAZZLE_CREDENTIALS_AERSERV_KEY=

RAZZLE_CREDENTIALS_BEACHFRONT_USERNAME=
RAZZLE_CREDENTIALS_BEACHFRONT_PASSWORD=
RAZZLE_CREDENTIALS_BEACHFRONT_REPORT_ID=

RAZZLE_CREDENTIALS_SPOTX_USERNAME=
RAZZLE_CREDENTIALS_SPOTX_PASSWORD=
RAZZLE_CREDENTIALS_SPOTX_PUBLISHERID=152300
RAZZLE_CREDENTIALS_SPOTX_OAUTH_CLIENT_ID=
RAZZLE_CREDENTIALS_SPOTX_OAUTH_CLIENT_SECRET=

RAZZLE_CREDENTIALS_ONEVIDEO_CLIENTID=
RAZZLE_CREDENTIALS_ONEVIDEO_SECRET=
RAZZLE_CREDENTIALS_ONEVIDEO_ORGID=19441

RAZZLE_CREDENTIALS_SPRINGSERVE_USERNAME=
RAZZLE_CREDENTIALS_SPRINGSERVE_PASSWORD=

RAZZLE_CREDENTIALS_PEAK_USERNAME=
RAZZLE_CREDENTIALS_PEAK_PASSWORD=

RAZZLE_CREDENTIALS_TAPPX_USERID=
RAZZLE_CREDENTIALS_TAPPX_APIKEY=
RAZZLE_CREDENTIALS_TAPPX_USERNAME=
RAZZLE_CREDENTIALS_TAPPX_PASSWORD=

RAZZLE_CREDENTIALS_IMPROVEDIGITAL_USERNAME=
RAZZLE_CREDENTIALS_IMPROVEDIGITAL_PASSWORD=

RAZZLE_CREDENTIALS_PULSEPOINTCTV_API_TOKEN=

RAZZLE_DB_LOGGING=true
